<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    home page
    <ul>
        <li>
            <a href="/prd/new">new products</a>
        </li>
        <li>
            <a href="/prd/view"> view product</a>
        </li>
        
       
            <li>
                <a href="/prd/edit"> edit products</a>
            </li>
            <li>
                <a href="/prd/delete">delete products</a>
            </li> </ul>
            
   
        

</body>
</html>